/* You can add global styles to this file, and also import other style files */
.speech-bubble {
	position: relative;
	background: lightblue;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 57px solid transparent;
	border-right-color: lightblue;
	border-left: 0;
	border-bottom: 0;
	margin-top: -28.5px;
	margin-left: -57px;
}

.speech-bubble-right {
	position: relative;
	background: lightgray;
	border-radius: .4em;
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 57px solid transparent;
	border-left-color: lightgray;
	border-right: 0;
	border-bottom: 0;
	margin-top: -28.5px;
	margin-right: -57px;
}

.img-man {
    height: 100px;
    width: 100px;
    top: 50px;
    position: fixed;
    left: 0;
    top: 50px;
}

.img-doc {
    width: 20px;
    height: 20px;
}

body {
    text-align: center;
}
